.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  text-decoration: none;

  .name {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background: #6d6e72;
    color: #ffffff;
    text-decoration: none;
    .name_text {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
