.gallery_wrapper {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 60px;
  // align-content: center;
  // justify-content: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;

  @media (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-content: center;
    justify-content: center;
  }

  .name {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background: #6d6e72;
    color: #ffffff;
    text-decoration: none;
    .name_text {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
