.contacts_wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 20px;
  }

  .contact_block {
    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title {
      @media (max-width: 1200px) {
        font-size: 56px;
      }
      @media (max-width: 1000px) {
        font-size: 48px;
      }
      @media (max-width: 800px) {
        font-size: 40px;
      }
      @media (max-width: 600px) {
        font-size: 32px;
      }
    }
    .info_string {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;
      color: #212427;
      text-decoration: none;

      @media (max-width: 1200px) {
        font-size: 21px;
      }
      @media (max-width: 1000px) {
        font-size: 20px;
      }
      @media (max-width: 800px) {
        font-size: 19px;
      }
      @media (max-width: 600px) {
        font-size: 16px;
      }

      .info_title {
        font-size: inherit;
        font-weight: 900;
        line-height: 28px;
        color: #212427;
        white-space: nowrap;
        padding-right: 1%;
        color: #212427;
        text-decoration: none;
      }

      .info_desc {
        color: #212427;
        text-decoration: none;
        line-height: 28px;
      }

      .underline {
        text-decoration: underline;
      }

      .adress {
        font-size: inherit;
      }
    }
  }
}

.enquiry_form {
  .title {
    white-space: nowrap;

    @media (max-width: 1200px) {
      font-size: 56px;
      text-align: center;
    }
    @media (max-width: 1000px) {
      font-size: 48px;
    }
    @media (max-width: 800px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border: 1px solid #212427;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        padding-bottom: 15px;
      }
    }
    input::placeholder {
      font-weight: 400;
      font-size: 1.33rem;
      line-height: 38px;
      color: #212427;

      @media (max-width: 1200px) {
        font-size: 32px;
      }
      @media (max-width: 1000px) {
        font-size: 28px;
      }
      @media (max-width: 800px) {
        font-size: 24px;
      }
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }

    .button {
      text-align: center;
      width: 13rem;
      margin: 0 auto;
      padding: 10px;
      background: #6e6f73;
      color: #ffffff;
      border: none;
      font-size: 2rem;
      text-decoration: none;
      cursor: pointer;

      @media (max-width: 768px) {
        height: 45px;
        margin-top: 30px;
        font-size: 32px;
        line-height: 25px;
      }
    }
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2.66rem;
  line-height: 75px;
  color: #212427;

  @media (max-width: 768px) {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
