.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sv_subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #030303;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .cv_inner {
    display: flex;
    margin-top: 40px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 30px;
    }

    .cv_image {
      max-width: 540px;
      max-height: 670px;
      margin-right: 30px;

      @media (max-width: 1530px) {
        width: 400px;
        height: 500px;

        @media (max-width: 1100px) {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
          margin-right: 0;
        }
      }
    }

    .text_inner {
      display: flex;
      flex-direction: column;

      .description {
        margin-bottom: 30px;
        @media (max-width: 1200px) {
          font-size: 21px;
        }
        @media (max-width: 1000px) {
          font-size: 20px;
        }
        @media (max-width: 800px) {
          font-size: 19px;
        }
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
      .graduates {
        @media (max-width: 1200px) {
          font-size: 21px;
        }
        @media (max-width: 1000px) {
          font-size: 20px;
        }
        @media (max-width: 800px) {
          font-size: 19px;
        }
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
    }
  }
}

.wrapper_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 45px;

  @media (max-width: 768px) {
    margin: 30px 0;
  }

  .collection_images {
    display: flex;
    align-items: center;
    margin-top: 45px;

    @media (max-width: 1100px) {
      justify-content: center;
    }

    @media (max-width: 768px) {
      margin-top: 30px;
    }

    .first_img {
      max-height: 320px;

      @media (max-width: 1100px) {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .sec_part {
      display: flex;
      align-items: flex-end;

      @media (max-width: 1100px) {
        display: none;
      }

      .sec_img {
        margin: 0 30px;
      }

      .third_img {
        max-height: 290px;
      }
    }

    .image {
      max-width: 50%;

      @media (max-width: 1100px) {
        max-width: 100%;
      }
    }
  }

  .public_text {
    margin: 60px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 56px;
    text-align: center;

    @media (max-width: 1100px) {
      font-size: 1.5rem;
      line-height: 30px;
    }

    @media (max-width: 768px) {
      margin: 15px 0;
      font-size: 20px;
      line-height: 23px;
    }
    span {
      font-style: "Roboto";
      font-size: 2rem;
      font-weight: 900;
      color: #f31c72;
      @media (max-width: 1100px) {
        font-size: 1.5rem;
        line-height: 30px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
}

.wrapper_third_ww {
  display: flex;
  flex-direction: column;

  .img_wrapper_ww {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    .bot_image_ww {
      height: 300px;
    }

    .bot_image_sec_ww {
      height: 300px;
    }

    // .bot_image_text {
    //   padding: 0 2%;
    // }
  }
}

.wrapper_third {
  display: flex;

  .bot_image {
    max-height: 675px;
    @media (max-width: 1490px) {
      height: 420px;
    }
    @media (max-width: 1270px) {
      height: 370px;
    }
  }

  .bot_image_text {
    padding: 0 2%;
    @media (max-width: 1200px) {
      font-size: 21px;
    }
    @media (max-width: 1000px) {
      font-size: 20px;
    }
    @media (max-width: 800px) {
      font-size: 19px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  .bot_image_sec {
    max-height: 280px;
    @media (max-width: 1490px) {
      height: 200px;
    }
    @media (max-width: 1270px) {
      height: 150px;
    }
  }

  // @media (max-width: 1490px) {
  //   .bot_image {
  //     max-height: 420px;
  //   }
  //   .bot_image_sec {
  //     max-height: 200px;
  //   }
  // }
}

.interview_section {
  margin: 60px auto;

  @media (max-width: 768px) {
    margin: 30px 0 15px;
  }

  .interview_title {
    text-align: center;
    font-size: 1.33rem;
    font-weight: 500;
    color: #212427;
    margin-bottom: 45px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }
}
.wrapper_third_ww {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: inherit;

  .bot_image_text_ww {
    font-size: 24px;
    @media (max-width: 1200px) {
      font-size: 21px;
    }
    @media (max-width: 1000px) {
      font-size: 20px;
    }
    @media (max-width: 800px) {
      font-size: 19px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  .img_wrapper_ww {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 0;
    margin-bottom: 20px;
    .bot_image_ww {
      margin-right: 10px;

      @media (max-width: 600px) {
        width: 200px;
        height: 200px;
      }

      @media (max-width: 420px) {
        width: 150px;
        height: 150px;
      }
    }

    .bot_image_sec_ww {
      width: 250px;

      @media (max-width: 600px) {
        width: 200px;
        height: 200px;
      }

      @media (max-width: 420px) {
        width: 150px;
        height: 150px;
      }
    }
  }
}
.cv_title {
  text-align: center;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 75px;
  color: #212427;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 38px;
  }
}
