.absolute_burger {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 5%;
  width: 100%;
  height: 100vh;
  background: #6d6e72;

  .close_burger {
    width: 10%;
    height: 50px;
    background-image: url("../../assets/icons/close.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;

    .link {
      cursor: pointer;
      padding: 10% 0;
      text-decoration: none;
      line-height: 28px;
      align-items: center;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

.header {
  display: flex;
  padding: 25px 10%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(121, 112, 112, 0.8);

  .burger_open {
    width: 10%;
    height: 50px;
    background-image: url("../../assets/icons/open.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    @media (max-width: 700px) {
      height: 30px;
    }
  }

  span {
    cursor: pointer;
  }

  .link {
    cursor: pointer;
    font-weight: 400;
    line-height: 38px;
    padding-right: 50px;
    text-decoration: none;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #212427;
    text-transform: uppercase;
    @media (max-width: 1150px) {
      padding-right: 0;
    }

    .logo {
      max-width: 200px;
      text-align: left;
      font-size: 1.33rem;

      @media (max-width: 1150px) {
        text-align: center;
      }
    }
  }
}

.home_header {
  display: flex;
  padding: 25px 10%;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

.lang_switcher {
  display: flex;
  gap: 5%;
}
