.footer {
  position: absolute;
  bottom: -127px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 127px;
  background: #6d6e72;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
