.footer {
  position: absolute;
  bottom: -127px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 127px;
  background: #6d6e72;
  align-items: center;
  text-align: center;
  color: #ffffff;

  @media (max-width: 800px) {
    height: 100px;
    bottom: -100px;
  }
  @media (max-width: 600px) {
    height: 80px;
    bottom: -80px;
  }
  @media (max-width: 400px) {
    height: 60px;
    bottom: -60px;
  }

  .footer_text {
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
