.home_app {
  background: url("./assets/pictures/photo_2023-06-05_22-21-11\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0 auto;
  padding: 60px 10%;

  @media (max-width: 600px) {
    padding: 30px 5%;
  }

  @media (max-width: 420px) {
    padding: 20px 3%;
  }
}

.home_content {
  margin: 130px auto;
}
