.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-fraction {
  text-align: start;
  padding: 0 0 5% 10%;
}

.swiper-slide {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  background: #6d6e72;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.swiper-slide img {
  display: block;
  width: 40%;
  height: auto;
  object-fit: cover;
}

.swiper-pagination-fraction {
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}