.subgallery_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;

  @media (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-content: center;
    justify-content: center;
  }

  .image_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .sub_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title {
        font-weight: 900;
      }

      .param {
      }
    }
  }
}

.slider_image {
  height: auto;
  width: 40%;
}

.close_swiper {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/icons/close.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 5%;
  right: 5%;
  @media (max-width: 700px) {
    height: 30px;
  }
}
.absolute_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e72;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
