.subgallery_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;

  @media (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-content: center;
    justify-content: center;
  }

  // @media (max-width: 768px) {
  //   gap: 15px;
  // }

  .image_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .sub_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        font-weight: 900;
      }
    }
  }
}

.slider_image {
  height: auto;
  max-width: 500px;
}

.close_swiper {
  width: 45px;
  height: 45px;
  background-image: url("../../assets/icons/close.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 5%;
  right: 5%;
  @media (max-width: 700px) {
    width: 24px;
    height: 24px;
  }
}
.absolute_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e72;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
